.filter {
  float: left;
  width: 200px;
}

.gallery {
  float: left;
}

.div2 {
  float:left;
}

.nomorecars {
  clear: both;
  text-align: center;
}

.float-left {
  float: left;
  margin-right: 20px;
}
