<!-- Html que crida el templateUrl del car-filter.component -->
<div class="filter">
  <p>
    Filter <br/>
    Maker <br/>
    <!-- ng-model (Quan el model canvia, les dades canvien amb ella i a l'inversa) -->
    <!-- $ctrl (nom per defecte d'angular per el controlador)  -->
    <!-- ng-model lligat amb les dades via carFilterController  -->
   <input type="checkbox" ng-model="$ctrl.data.filter.maker.ford"/> Ford <br/>
   <input type="checkbox" ng-model="$ctrl.data.filter.maker.toyota"/> Toyota <br/>
   <input type="checkbox" ng-model="$ctrl.data.filter.maker.subaru"/> Subaru <br/>

   Color <br/>
   <input type="checkbox" ng-model="$ctrl.data.filter.color.white"/> White <br/>
   <input type="checkbox" ng-model="$ctrl.data.filter.color.black"/> Black <br/>
   <input type="checkbox" ng-model="$ctrl.data.filter.color.silver"/> Silver <br/>
   <input type="checkbox" ng-model="$ctrl.data.filter.color.red"/> Red <br/>
   <input type="checkbox" ng-model="$ctrl.data.filter.color.blue"/> Blue <br/>
  </p>

</div>
