<div class="form">
  <div class="float-left">
    <form>
      <!-- mostra el missatge si falten opcions per seleccionar (shouldDisable()) -->
      <span ng-show="$ctrl.shouldDisable()">Select the other properties</span><br>
      Car model <input type="text" ng-model="$ctrl.form.name" placeholder="Model name" ng-disabled="$ctrl.shouldDisable()"></input> <br>
      Car maker: <span>{{$ctrl.form.maker.name | titleCase}}</span><br>
      Car color: <span>{{$ctrl.form.color.name | titleCase}}</span><br>
      Image: <input type="text" ng-model="$ctrl.form.url"></input>
      <input type="submit" ng-disabled="$ctrl.shouldDisable()" ng-click="$ctrl.sendForm()" value="Submit">
    </form>
    <a href="/#!"> Back to homepage </a>
  </div>
  <div class="float-left">
    Makers
    <ul>
      <li ng-repeat="maker in $ctrl.filter.maker" ng-click="$ctrl.onClickMaker(maker)">
        {{maker.name | titleCase}}
      </li>
    </ul>
    <input type="text" ng-model="$ctrl.newMaker">
    <input type="submit" ng-click="$ctrl.sendMaker()" value="Submit">
  </div>
  <div class="float-left">
    Colors
    <ul>
      <li ng-repeat="color in $ctrl.filter.color" ng-click="$ctrl.onClickColor(color)">
        {{color.name | titleCase}}
      </li>
    </ul>
    <input type="text" ng-model="$ctrl.newColor">
    <input type="submit" ng-click="$ctrl.sendColor()" value="Submit">
  </div>
</div>
